<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SparkMaven.mysys.dao.ICommentDao">
	<!-- 用了blog.id -->
    <insert id="addComment" parameterType="Comment"  useGeneratedKeys="true" keyProperty="id">
        insert into t_Comment(content,commentDate,blogid) values(#{content},#{commentDate},#{blog.id})
    </insert>
	<!-- 传ID的就要求comment的id和blog的id一样 -->
	<resultMap type="Comment" id="CommentResult">  
		<id property="id" column="id" javaType="int"/>
        <result  property="content" column="content" javaType="java.lang.String"/>
        <result  property="commentDate" column="commentDate" javaType="java.util.Date"/>
        <association property="blog" select="selectBlog" column="blogid" javaType="Blog"/>  
    </resultMap>  
      
    <select id="selectComment" parameterType="int" resultMap="CommentResult">  
        select * from t_Comment where id = #{id}  
    </select>  
      
    <select id="selectBlog" parameterType="int" resultType="Blog">  
        select * from t_Blog where id = #{id}  
    </select>  
    
    <!-- <select id="selectComment2" parameterType="int" resultMap="CommentResult2">  
        SELECT
			t_blog.id,
			t_blog.title,
			t_blog.content,
			t_blog.`owner`,
			t_comment.id,
			t_comment.content,
			t_comment.commentDate,
			t_comment.blogid
			FROM
			t_blog
			JOIN t_comment ON t_blog.id = t_comment.blogid
      
    </select>   -->
    
    
</mapper>